$base-color: red;
$important-color: darkred;
$warning-color: pink;
$main-font: 'Courier New';
$secondary-font: 'Lucida Sans';
$box-shadow: -15px 10px 15px 0px rgba(0,0,0,0.75);
$border-color: #000;