$base-color: blue;
$important-color: darkblue;
$warning-color: cyan;
$main-font: 'Times New Roman';
$secondary-font: 'Arial Narrow';
$box-shadow: 15px 10px 15px 0px rgba(255, 255, 255, 0.70);
$border-color: #FFF;